.post-container {
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00e0fd;
    border-radius: 10px;
    box-shadow: 0px 4px 16px 0px ;
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  .post-content {
    margin-bottom: 1px;
    color: #ff6a00;
    font-size: 20px;
    font-weight: bold;
  }
  
  .post-actions {
    display: flex;
    justify-content: space-between;
  }

  .button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  } 