.search-bar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
  outline: none;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}